.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 2px 6px;
    position: absolute;
    z-index: 100;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.gradient {
    background: linear-gradient(90deg, #23292F 40%, #29CB96 100%);
}
.bg-dark-gray {
    background: #23292F;
}

a:hover {
    text-decoration: underline;
}
